$serif-font: "Palatino Linotype", Palatino, Georgia, "Times New Roman", serif;
$sans-serif-font : "Helvetica Neue", Arial, Helvetica, sans-serif;


$body-color: #333;
$header-color: #000;
$link-color: #26a;